body {
    background-color: #303e4f;
}


img {
    width: 550px;
    height: 110px;
    float: left;
}

.colorUno {
     border: 3x blue solid;

}

.lista li {
   background-color: #b24334;
    display: inline-block;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    margin: 0 -4px;

}

.lista {

    position: relative;
    left: 30%;
    right: 1px;
    box-sizing: border-box;
}


.texto1 {
    background-color: white;
    width: 65%;
    border-bottom: 2px black solid;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 17px ;
    padding-bottom: 20px;

    clear: both;
} 

.separador {
    float: left;
    background-color: #c55c24;
    border: 3px red solid;
}

.texto2 {
    background-color: white;
    width: 65%;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 17px ;
    padding-bottom: 90px;

    border-bottom: 2px black solid;

    clear: both;
}

.pieFondo {

    padding-top: 3%;
    padding-bottom: 3%;

}

.lista_pie li{
    background-color: #b24334;
    display: inline-block;
    margin: 20px;
    padding: 11px;
    color: violet;
    margin: 0 -4px;
}

.lista_pie a {
    margin: 0px;
}

